.all {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: #ff94a6;
  width: 100%;
}

.mainItem {
  background-color: none;
  width: 100vw;
}

#listTitle {
  font-size: 50px;
  color: rgb(41, 110, 110);
}

.createNewButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineIcon {
  height: 30px;
  position: absolute;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.createNewPopUp {
  background-color: rgb(41, 110, 110);
  width: 250px;
  height: 150px;
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  border-radius: 20px;
}
.createNewPopUp div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.createNewPopUp div button, .createNewPopUp div input {
  color: rgb(41, 110, 110);
}

.navigationBar {
  background-color: rgb(41, 110, 110);
  height: 100vh;
  color: #ff94a6;
  font-size: 15px;
  padding: 17px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  width: 100%;
}

.background {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -o-object-fit: inherit;
     object-fit: inherit;
  position: absolute;
  z-index: -1;
}

#tippyTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: none;
}

.createNewTodoClass {
  margin-top: 50px;
}

.forNewTodos {
  color: rgb(41, 110, 110);
  background-color: #ff94a6;
  position: absolute;
  margin: auto;
  margin-top: 30px;
  width: 250px;
  height: 150px;
  font-size: 14px;
  z-index: 1;
  border-radius: 20px;
  margin-right: 10%;
}
.forNewTodos div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.normalListColor {
  color: #ff94a6;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.normalListColor:hover {
  color: #ff94a6;
  text-decoration: none;
}

.deleteTodoButton {
  color: rgb(41, 110, 110);
}

.todoCompleteButton, .checkmark {
  background-color: #ff94a6;
  height: 15px;
  border-radius: 10px;
}

.theTodoClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.todoWords {
  margin-left: 15px;
}

.listName, .chosenListClass {
  background-color: white;
  margin-top: 5px;
  padding-left: 2px;
  border-radius: 3px;
}

a {
  width: 100%;
}

.chosenListClass {
  background-color: gray;
  box-shadow: 2px 2px;
}

.theTodoClassCompleted {
  color: #808080;
  text-decoration: line-through;
}

.smallNavIcons {
  height: 15px;
  margin-top: 3px;
}

.listOptionsPopUp, .editPopUpTodoVisible {
  background-color: gray;
  color: #ff94a6;
  width: 250px;
  height: 150px;
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  border-radius: 20px;
  margin-left: 225px;
}

.listOptionsClass {
  background-color: gray;
  color: #ff94a6;
  width: 150px;
  height: 80px;
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */