$myTeal: rgb(41, 110, 110);
$myPink: #ffc0cb;
.all {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: $myPink;
width: 100%;
    
    
}
.mainItem {
    background-color: none;
    width: 100vw;
}
#listTitle{
   font-size: 50px;
    color: $myTeal;
}
.listItemBox {
    border: solid $myPink 3px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 12px;
    position: relative;
    backdrop-filter: blur(3px);
}
#checkboxIcon {
    height: 20px;
    
    margin-right: 10px;
    margin-left: 5px;
}
.lineIcon {
    height: 30px;
    position: absolute;
    margin-left: 10px;
}
.hidden {
    display: none;
}
.createNewPopUp {
    background-color: $myTeal;
    width: 250px;
    height: 150px;
   display: block;
   position: absolute;
   font-size: 14px;
   z-index: 1;
   border-radius: 20px;
   div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    button, input {
        color: $myTeal;
    }
   }
}
.navigationBar {
    background-color: $myTeal;
    height: 100vh;
    color: $myPink;
   font-size: 15px;
    padding: 17px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    width: 100%;
}
.background {
    margin: 0;
    height: 100vh;
    width: 100vw;
    object-fit: inherit;
    position: absolute;
    z-index: -1;
}
#tippyTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: none;
}
#createNewTodo {
    margin-top: 50px;
}
.forNewTodos {
    color: $myTeal;
    background-color: $myPink;
    position: absolute;
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 150px;
   font-size: 14px;
   z-index: 1;
   border-radius: 20px;
   margin-right: 10%;
   div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
   
   }
}